// Navbar
md-toolbar.dsft-navbar
    div.dsft-navbarInner
        md-button.md-icon-button(ng-click='NavbarCtrl.openSideNav("left")' md-ink-ripple='#20AFCD' aria-label='Open menu')
            md-icon.dsft-navbarMenuIcon menu
        img.dsft-navbarLogo(src='src/assets/images/logos/logo_full.png')
        span.flex
        md-button.md-icon-button(ng-click='' md-ink-ripple='#20AFCD' aria-label='Weather')
            md-icon.dsft-navbarMenuIcon account_circle
        h4.dsft-navbarLogin Login
// Navbar
