// Navbar
md-toolbar.dsft-navbar
    div.dsft-navbarInner
        img(src='src/assets/images/logos/logo.png')
        md-button.md-icon-button(ng-click='NavbarCtrl.openSideNav("left")' md-ink-ripple='#bad66f' aria-label='Open menu')
            md-icon.dsft-navbarMenuIcon menu
// Navbar
