/*************************
Local Imports
**************************/
@import "../core/core.variables.scss";
/*************************
Navbar Component Style
**************************/
.dsft-navbar { background-color: $background-dark; height:100px; }
//.dsft-navbarInner { height: 100%; margin: 0 auto; @include flexRowBetweenCenter; }
.dsft-navbarInner { height: 100%; margin-right: 20px; @include flexRowBetweenCenter; }
.dsft-navbarLogo {height: 60px; }
.dsft-navbarMenuIcon { color: $white; }
.dsft-navbarLogin {color: $white; }
/*************************
Media Queries
**************************/
// Extra small devices (portrait phones, less than 34em)
@media (max-width: 33.9em) {}

// Small devices (landscape phones, less than 48em)
@media (max-width: 47.9em) {
    .dsft-navbarLogo {height: 30px;}
  .dsft-navbar { height: $height-navbar-mobile; }
}

// Medium devices (tablets, less than 62em)
@media (max-width: 61.9em) {}

// Large devices (desktops, less than 75em)
@media (max-width: 74.9em) {}
