/*************************
Local Imports
**************************/
@import "../core/core.variables.scss";
/*************************
Weather Component Style
**************************/
.dsft-weatherMap{ height: 100%; width: 100%; z-index: 0;}
/*************************
Weather Map Overrides
**************************/
.dsft-weatherMapAirfieldPopup .leaflet-popup-tip,
.dsft-weatherMapAirfieldPopup .leaflet-popup-content-wrapper {  background: rgba(34, 49, 63, 0.7); border: 0; border-radius: 0; color: $white; padding: 0;  width: 100%; }
.dsft-weatherMapAirfieldPopup .leaflet-popup-content {  background: $background-transparent;  color: $white; margin: 0; padding: 0; }
/*************************
Weather Map Popup
**************************/
.dsft-weatherMap table { border-collapse: collapse; width: 100%;  }
.dsft-weatherMap th, .dsft-weatherMap td { padding: 8px; text-align: left; }
.dsft-weatherMap th {  background-color: $accent-glow;  color: $white;  }
/*************************
Media Queries
**************************/
// Extra small devices (portrait phones, less than 34em)
@media (max-width: 33.9em) {}

// Small devices (landscape phones, less than 48em)
@media (max-width: 47.9em) {}

// Medium devices (tablets, less than 62em)
@media (max-width: 61.9em) {}

// Large devices (desktops, less than 75em)
@media (max-width: 74.9em) {}
