<!-- Weather Component -->
leaflet(class='dsft-weatherMap' id='dsftWeatherMap' controls='WeatherCtrl.mapControls' defaults='WeatherCtrl.mapDefault' lf-center='WeatherCtrl.mapCentre' markers='WeatherCtrl.airfields' maxbounds='WeatherCtrl.mapBounds')
<!-- /Weather Component -->
