<!-- Fleet Component -->
// About Section
section.section-padding#resources-section
    div.container
        div.row.text-xs-center
            h1 Resources
            h3 Download our Aircrafts Flight Manuals, Weight & Balance Sheets and Cockpit Reference Images
        div.row
            h3 Resources
            div.dsft-fleetResourcesInfoBlock
                h3 Pilots Operating Handbook
                p The Pilots Operating Handbook (POH) is a unique document produced by the aircraft manufacturer, limited to the specific model, serial number and registration of the aircraft. The POH forms an essential part of an aircrafts documentation and contains the operational procedures, limitations and performance for that aircraft. The POH is the go-to guide for any Pilot and is ultimately the reference document that should be consulted and studied before flying any aircraft.
                h3 Cockpit Images
                p For new students in particular, cockpit reference images are especially helpful for learning the layout and position of the aircrafts controls and instruments.
                h3 Weight and Balance
                p Weight and balance calculations are an essential part of flying and a required in order to achieve safe performance and flying characteristics for that aircraft. Centre of gravity is the determining factor in aircraft stability, so ensuring correct weight and balance calculations are made before flight is essential. These weight and balance schedules are purely for reference and training purposes only. The weight and balance schedule outlined in the POH should be referred to before flight.
// About Section End
footer-directive
<!-- /Fleet Component -->
