<!-- Fleet Component -->
// Resources Section
section.section-padding#resources-section
    div.container
        div.row.text-xs-center
            h1 Resources
            h3 Download our Aircrafts Flight Manuals, Weight & Balance Sheets and Cockpit Reference Images
        div.row
            h3 Resources
            div.dsft-fleetResourcesInfoBlock
                h3 Pilots Operating Handbook
                p The Pilots Operating Handbook (POH) is a unique document produced by the aircraft manufacturer, limited to the specific model, serial number and registration of the aircraft. The POH forms an essential part of an aircrafts documentation and contains the operational procedures, limitations and performance for that aircraft. The POH is the go-to guide for any Pilot and is ultimately the reference document that should be consulted and studied before flying any aircraft.
                h3 Cockpit Images
                p For new students in particular, cockpit reference images are especially helpful for learning the layout and position of the aircrafts controls and instruments.
                h3 Weight and Balance
                p Weight and balance calculations are an essential part of flying and a required in order to achieve safe performance and flying characteristics for that aircraft. Centre of gravity is the determining factor in aircraft stability, so ensuring correct weight and balance calculations are made before flight is essential. These weight and balance schedules are purely for reference and training purposes only. The weight and balance schedule outlined in the POH should be referred to before flight.
// Resources Section End

// Fleet Resources Section
section.section-padding#fleet-resources-section
    div.container
        md-content
            md-tabs(md-dynamic-height='', md-border-bottom='')
                md-tab(label='Cessna 152 - GBPFZ')
                    md-content.md-padding
                        h1.md-display-2 Tab One
                        p
                            | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla venenatis ante augue. Phasellus volutpat neque ac dui mattis vulputate. Etiam consequat aliquam cursus. In sodales pretium ultrices. Maecenas lectus est, sollicitudin consectetur felis nec, feugiat ultricies mi.
                md-tab(label='two')
                    md-content.md-padding
                        h1.md-display-2 Tab Two
                        p
                            | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla venenatis ante augue. Phasellus volutpat neque ac dui mattis vulputate. Etiam consequat aliquam cursus. In sodales pretium ultrices. Maecenas lectus est, sollicitudin consectetur felis nec, feugiat ultricies mi. Aliquam erat volutpat. Nam placerat, tortor in ultrices porttitor, orci enim rutrum enim, vel tempor sapien arcu a tellus. Vivamus convallis sodales ante varius gravida. Curabitur a purus vel augue ultrices ultricies id a nisl. Nullam malesuada consequat diam, a facilisis tortor volutpat et. Sed urna dolor, aliquet vitae posuere vulputate, euismod ac lorem. Sed felis risus, pulvinar at interdum quis, vehicula sed odio. Phasellus in enim venenatis, iaculis tortor eu, bibendum ante. Donec ac tellus dictum neque volutpat blandit. Praesent efficitur faucibus risus, ac auctor purus porttitor vitae. Phasellus ornare dui nec orci posuere, nec luctus mauris semper.
                        p
                            | Morbi viverra, ante vel aliquet tincidunt, leo dolor pharetra quam, at semper massa orci nec magna. Donec posuere nec sapien sed laoreet. Etiam cursus nunc in condimentum facilisis. Etiam in tempor tortor. Vivamus faucibus egestas enim, at convallis diam pulvinar vel. Cras ac orci eget nisi maximus cursus. Nunc urna libero, viverra sit amet nisl at, hendrerit tempor turpis. Maecenas facilisis convallis mi vel tempor. Nullam vitae nunc leo. Cras sed nisl consectetur, rhoncus sapien sit amet, tempus sapien.
                        p
                            | Integer turpis erat, porttitor vitae mi faucibus, laoreet interdum tellus. Curabitur posuere molestie dictum. Morbi eget congue risus, quis rhoncus quam. Suspendisse vitae hendrerit erat, at posuere mi. Cras eu fermentum nunc. Sed id ante eu orci commodo volutpat non ac est. Praesent ligula diam, congue eu enim scelerisque, finibus commodo lectus.
                md-tab(label='three')
                    md-content.md-padding
                        h1.md-display-2 Tab Three
                        p
                            | Integer turpis erat, porttitor vitae mi faucibus, laoreet interdum tellus. Curabitur posuere molestie dictum. Morbi eget congue risus, quis rhoncus quam. Suspendisse vitae hendrerit erat, at posuere mi. Cras eu fermentum nunc. Sed id ante eu orci commodo volutpat non ac est. Praesent ligula diam, congue eu enim scelerisque, finibus commodo lectus.


// Fleet Resources Section End

footer-directive
<!-- /Fleet Component -->
