/*************************
Core Variables
**************************/
/*************************
Core Fonts
**************************/
$font-open-sans: 'Open Sans', sans-serif;
$font-raleway: 'Raleway', sans-serif;
$font-merriweather: 'Merriweather', serif;
$font-roboto: 'Roboto', sans-serif;
/*************************
Core Colors
**************************/
$white: #fff;
$black: #000;
$background-transparent: transparent;
$background-dark: #22313F; // Clay Blue
$background-super-dark: #23282F; // Deep Grey
$background-light: #EEEEEE; // Smoke Grey
$colour-primary: #045A67; // Lush Blue
$accent-glow: #20AFCD; // Radiation Blue
$accent-eco: #1ABC9C; // Lush Green
$accent-charm: #DB0A5B; // Vibrant Pink
$accent-nuclear: #F9690E; // Explosive Orange
$accent-berry: #8E44AD; // Royal Purple
$accent-freeze: #95A5A6; // Winter Grey
/*************************
Core Styles
**************************/
$padding-none: 0;
$margin-none: 0;
/*************************
Core Components
**************************/
$height-navbar: 100px;
$height-navbar-mobile: 48px;
/*************************
Core Flexbox
**************************/
@mixin flexRowCenterCenter {display: flex; flex-direction: row; justify-content: center; align-items: center;}
@mixin flexRowStartCenter {display: flex; flex-direction: row; justify-content: flex-start; align-items: center;}
@mixin flexRowBetweenCenter {display: flex; flex-direction: row; justify-content: space-between; align-items: center;}
