/*************************
Imports
**************************/
@import "core.variables.scss";
/*************************
* Core Animations
**************************/
.view { height: calc(100% - #{$height-navbar}); }
/*************************
* Animations
**************************/
@mixin fadeOutAnimation { animation:0.8s fadeOut ease; -moz-animation: 0.5s fadeOut; -webkit-animation:0.5s fadeOut ease; }
@mixin fadeInAnimation { animation:0.8s fadeOut ease; -moz-animation: 0.5s fadeOut; -webkit-animation:0.5s fadeOut ease; }
.view.ng-leave 	{ z-index:20; @include fadeOutAnimation; }
.view.ng-enter 	{ z-index:10; @include fadeInAnimation; }
