/*************************
Imports
**************************/
@import "core.variables.scss";
/*************************
Core Styles
**************************/
html{ font-size:62.5%; -ms-text-size-adjust:62.5%; -webkit-text-size-adjust:62.5%; }
html,html a{ text-shadow:1px 1px 1px rgba(0,0,0,0.004); -webkit-font-smoothing:antialiased; }
html,button,input,select,textarea{ font-family:$font-raleway; font-weight:300; }
body{ background-color:$background-light; font-family:$font-raleway; font-size:1.6rem; line-height:1.625; margin:0; overflow: hidden;}
input:focus{ outline:0; }
/*************************
Typography
**************************/
h1{ font-size:32px; font-size:3.6rem; line-height:.813; }
h2{ font-size:24px; font-size:2.4rem; line-height:1.083; }
h3{ font-size:19px; font-size:1.9rem; line-height:1.368; }
h4{ font-size:16px; font-size:1.6rem; line-height:1.625; }
h5{ font-size:14px; font-size:1.4rem; line-height:1.857; }
h6{ font-size:13px; font-size:1.3rem; line-height:2; }
p{ font-family: $font-roboto; }
.font-dark { color: $background-dark; }
.font-light { color: $background-light; }
/*************************
Links
**************************/
a{ text-decoration:none; transition:300ms; -moz-transition:300ms; -o-transition:300ms; -webkit-transition:300ms; }
a:focus,a:hover{ outline:none; text-decoration:none; }
/*************************
Parallax
**************************/
.parallax{ height: 400px; background-attachment:fixed; background-position:center; background-repeat:no-repeat; background-size:contain; }
.parallax,.parallax h1,.parallax h2,.parallax h3,.parallax h4,.parallax h5,.parallax h6{ color:$white; }
.parallax input[type="text"],.parallax input[type="text"]:hover,.parallax input[type="email"],.parallax input[type="email"]:hover,.parallax input[type="url"],.parallax input[type="url"]:hover,.parallax input[type="password"],.parallax input[type="password"]:hover,.parallax textarea,.parallax textarea:hover{ color:$white; font-weight:300; }
/*************************
Section
**************************/
.padding-none{ padding: $padding-none; }
.section-padding { padding: 90px 0 100px; }
.section-padding-none { padding: $padding-none; }
.section-heading { margin: 60px 0 80px; text-align: center; }
.section-heading h1{ display:inline-block; font-size:5.5rem; margin-bottom:0; }
.section-heading p{ color:$background-dark; font-size:25px; font-weight:300; }
.section-heading .divider:after{ border-radius:5em; -moz-border-radius:5em; -ms-border-radius:5em; -o-border-radius:5em; -webkit-border-radius:5em; content:""; display:block; height:4px; margin:13px auto; position:relative; text-align:center; width:60px;  }
.section-heading.inverse h1,.section-heading.inverse p{ color:$white; }
.section-heading.inverse .divider:after{ background:$white; }
/*************************
Media Queries
**************************/
// Extra small devices (portrait phones, less than 34em)
@media (max-width: 33.9em) {
  body{ font-size:1.4rem; line-height:1.643; }
  .section-padding { padding: 45px 0; }
}

// Small devices (landscape phones, less than 48em)
@media (max-width: 47.9em) { }

// Medium devices (tablets, less than 62em)
@media (max-width: 61.9em) { }

// Large devices (desktops, less than 75em)
@media (max-width: 74.9em) { }
