/*************************
* Core Animations
**************************/
.view {
  height: 100%; }

/*************************
* Animations
**************************/
.view.ng-leave {
  z-index: 20;
  -webkit-animation: 0.5s fadeOut ease;
  -moz-animation: 0.5s fadeOut;
  animation: 0.8s fadeOut ease; }

.view.ng-enter {
  z-index: 10;
  -webkit-animation: 0.5s fadeIn ease;
  -moz-animation: 0.5s fadeIn;
  animation: 0.8s fadeIn ease; }
