<!-- Airfield Details Dialog -->
md-dialog.dsft-airfieldDetailsDialog(aria-label='Airfield Details')
    md-dialog-content.dsft-airfieldDetailsDialogContent
        h1 Weather
        h2 {{WeatherCtrl.forecast}}
    md-dialog-actions
        md-button(ng-click='WeatherCtrl.closeAirfieldDetails()') Cancel
        md-button Test
<!-- /Airfield Details Dialog -->
