// Navigation Component
md-sidenav.dsft-navigation(md-component-id='left')
    md-list
        md-list-item(ui-sref='home' md-ink-ripple='#3498db' role='link' aria-label='Go to home view')
            h3 Home
        md-list-item(ui-sref='training' md-ink-ripple='#9b59b6' role='link' aria-label='Go to training view')
            h3 Training
        md-list-item(ui-sref='experience' md-ink-ripple='#1abc9c' role='link' aria-label='Go to experience view')
            h3 Experience
        md-list-item(ui-sref='fleet' md-ink-ripple='#e74c3c' role='link' aria-label='Go to fleet view')
            h3 Fleet
// Navigation Component
