/*************************
Local Imports
**************************/
@import "../core/core.variables.scss";
/*************************
Navigation Component Style
**************************/
.dsft-navigation { background-color: $background-dark; }
.dsft-navigationHeadingContainer{ }
.dsft-navigationHeading{ color: $white; @include flexRowStartCenter }
.dsft-navigationMenuList{}
.dsft-navigationMenuListItem{}
.dsft-navigationMenuListItemIcon{}
.dsft-navigationMenuListItemHeading{ color: $white; }
